@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --dot-bg: #0a0a0a;
  --dot-color: rgba(255, 255, 255, 0.15);
  --dot-size: 0.5px;
  --dot-space: 22px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --dot-bg: #0a0a0a;
    --dot-color: rgba(255, 255, 255, 0.15);
  }
}

body {
  color: var(--foreground);
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75;
}
